/***********************CCS GRID***********************/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html{
    height: 100%;

}
body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
  }

.grid-container > * {
      box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.75);
      border-radius: 4px;
      padding: 10px;
      border: 1px solid black;
  }

.grid-container{
      display: grid;
      gap: 10px;
      grid-template-areas:
      "header"
      "navbar"
      "main"
      "footer";
  }

.header{
    grid-area: header;
    background-color: #F7F6F2;
}
.navbar{
    grid-area: navbar;
    background-color: #F7F6F2;
}

.aside{
    grid-area: aside;
    background-color: #C9CCD5;
}

.main{
    grid-area: main;
    background-color: #C8C6C6;
}

.footer{
    grid-area: footer;
    background-color: #F7F6F2;
}

@media(min-width: 600px){
    .grid-container{
      /* grid-template-columns:200px auto ;
      grid-template-rows: 100px 50px auto 100px; */
      /* grid-template-areas:
      "header header"
      "navbar navbar"
      "sidebar main"
      "footer footer"; */

      grid-template:
      "header header header" 100px
      "navbar main main" auto
      "footer footer footer"100px /
      200px auto 200px;
    }
}

@media(min-width: 900px){
    .grid-container{
      grid-template:
      "header header header" 100px
      "navbar main main" auto
      "footer footer footer"100px /
      300px auto 300px;
    }
}
