body{
  background-color: #F7F6F2;
      min-width: 1000px;
      overflow: auto;
}
img{
  width: 500px;
  height:300px;
}
a{
  color: #000000;
  text-decoration: none;
}
a:hover{
  color:red;
}
hr{
  border-style: dotted none none none ;
  border-color: #00303F;
  border-width: 5px;
  width: 50px;
text-align: center;
}
.colors{
  height: 50px;
  width: 50px;
}
.imgbook{
  height: 40px;
  width: 40px;
}
.radio{
  border-radius:5px;
}

.scroll{
  max-width: 550px;
  max-height: 550px;
  overflow-y: scroll;
  display:none;
}
